---
import "../styles/global.css";
import IndexLayout from '../layouts/IndexLayout.astro';
import Greeting from '../components/Greeting';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const achieved = await Astro.glob('../pages/posts/Achieved.md');
import Headingsofblog from "../components/Headingsofblog.astro";

const { frontmatter } = Astro.props;
const pageTitle = "Pagetitle首页";

---

<IndexLayout pageTitle={pageTitle}>
	<span slot="maindiv">
		<h1 class="font-bold text-8lx text-center">This is My awesome blog with Astro&Tailwind</h2>
		<h2 class="text-center">		
			<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]}/>
		</h2>
		<div class="p-4 flex-wrap mb-10 mt-10 grid grid-cols-1 lg:grid-cols-2 gap-4 auto-cols-max text-base ">
			<div class="p-2 border-spacing-2 outline-dotted outline-offset-2 rounded-md outline-slate-300 w-auto bg-slate-50 min-h-10">
				<h3 class="mt-1 pl-4">Now Working on:</h3>
				<div class="w-80 overflow-auto max-h-40">
					<div class="flex items-center space-x-2 rounded p-2 hover:bg-gray-100">
					  <input type="checkbox" id="example9" name="checkGroup1" data-id="example9" class="h-4 w-4 rounded border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
					  <label for="example9" class="flex w-full space-x-2 text-sm"> 为主页添加各类功能，主要用于展示 </label>
					</div>
					<div class="flex items-center space-x-2 rounded p-2 hover:bg-gray-100">
					  <input type="checkbox" id="example10" name="checkGroup1" data-id="example10" class="h-4 w-4 rounded border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
					  <label for="example10" class="flex w-full space-x-2 text-sm"> 实现侧边栏的自动读取并且优化样式 </label>
					</div>
					<div class="flex items-center space-x-2 rounded p-2 hover:bg-gray-100">
					  <input type="checkbox" id="example11" name="checkGroup1" data-id="example11" class="h-4 w-4 rounded border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
					  <label for="example11" class="flex w-full space-x-2 text-sm"> blog优化页面div，修复fixed遗留问题 </label>
					</div>
					<div class="flex items-center space-x-2 rounded p-2 hover:bg-gray-100">
						<input type="checkbox" id="example11" name="checkGroup1" data-id="example11" class="h-4 w-4 rounded border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
						<label for="example11" class="flex w-full space-x-2 text-sm"> 左导航栏hidden-breadcurmb设计 </label>
					  </div>
					<div class="flex items-center space-x-2 rounded p-2 hover:bg-gray-100">
						<input type="checkbox" id="example11" name="checkGroup1" data-id="example11" class="h-4 w-4 rounded border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
						<label for="example11" class="flex w-full space-x-2 text-sm"> 改善working on事项添加方案，同样可以采用md文件模式 </label>
					</div>
				</div>
			</div>
			<div class="max-h-60 border-spacing-2 outline-dotted outline-offset-2 rounded-md outline-slate-300 w-auto p-2 bg-slate-50 min-h-10">
				<h3 class="mt-1 pl-4 space-y-3">What I have Got:</h3>
				<div class="overflow-auto max-h-40 text-base">
					{achieved.map((post, index) => {
						const headings = post.getHeadings();
						return headings.map((heading, headingIndex) => (
						  <p class="text-sm space-x-2">· {heading.text}</p>
						));
					  })}
				</div>
				
			</div>
		</div>
		<div class="p-4 flex-wrap grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 auto-cols-max auto-rows-max">
			{allPosts.map((indexcard,index)=><div class=" min-w-sm rounded-lg p-4 min-h-60 bg-white shadow">
				<h4 class="mt-1 mb-0 font-bold text-gray-300">Blog No.{index + 1}</h4>
				<h2 class="mt-1 text-2xl font-bold hover:text-orange-700 text-gray-900">
					<a href={indexcard.url}>{indexcard.frontmatter.title}</a>
				</h2>
				<p class="text-sm italic tracking-normal">
					{indexcard.frontmatter.description}
				</p>
				</div>)}
			
		</div>
	</span>
	<style>
		a {
		  text-decoration: none; /* 取消下划线 */
		}
		Headingsofblog {
			text-decoration: none; /* 取消下划线 */
		}
	</style>
	<script>
		// 获取所有复选框
		const checkboxes = document.querySelectorAll('input[type="checkbox"]');
	
		// 初始化复选框状态
		checkboxes.forEach(checkbox => {
		  // 明确声明checkbox的类型
		  const inputElement = checkbox as HTMLInputElement;
		  const id = inputElement.getAttribute('data-id');
		  const savedCheckedState = localStorage.getItem(`checkbox-${id}-checked`);
		  const label = document.querySelector(`label[for="${id}"]`);
	
		  if (savedCheckedState === 'true') {
			inputElement.checked = true;
			label?.classList.add('checked-label');
		  }
	
		  // 添加复选框状态改变的事件监听器
		  inputElement.addEventListener('change', function() {
			if (inputElement.checked) {
			  label?.classList.add('checked-label');
			  localStorage.setItem(`checkbox-${id}-checked`, 'true');
			} else {
			  label?.classList.remove('checked-label');
			  localStorage.setItem(`checkbox-${id}-checked`, 'false');
			}
		  });
		});
	  </script>
</IndexLayout>

<!-- {allPosts.map((post) =><BlogPost url={post.url} title={post.frontmatter.title}/>)} -->
