---
import Rightsideber from '../components/Rightsideber.astro';

const headings2 = [
  {
    depth: 1,
    text: "Astro 0.18 Release",
    slug: "astro-018-release"
  },
  {
    depth: 2,
    text: "Responsive partial hydration",
    slug: "responsive-partial-hydration"
  }
  // 更多标题对象
];
const allPosts = await Astro.glob('../pages/posts/*.md');
// 查找 depth 为 1 的标题对象
const headingDepth1 = headings2.find(heading => heading.depth === 1);




allPosts.forEach((post, index) => {
  // console.log(`Post ${index + 1}:`);
  // 输出检测了不同层级的headings
  
  const headings = post.getHeadings();
  if (headings.length > 0) {
    const cont = 0
    headings.forEach((ih) =>{
    const hdepth = ih.depth;
    const hdepthofh = ih.text;
    if (hdepth < 3){
      // console.log(`headingdepth: ${hdepth} headingtext: ${hdepthofh}`);
    }
    
    })
    
  } else {
    console.log('No headings found.');
  }
});

allPosts.forEach((post, index) => {
  // console.log(`Post ${index + 1}:`);
  const headings = post.getHeadings();
  if (headings.length > 0) {
    headings.map((heading, headingIndex) => {
      // console.log(`Heading ${headingIndex + 1} slug: ${heading.slug}`);
    });
  } else {
    // console.log('No headings found.');
  }
});

// 测试更换目录树
// 获取当前页面路径
// const currentPath = Astro.url.pathname;

import IndexLayout from '../layouts/IndexLayout.astro';
import Leftsidebar1 from "../components/Leftsidebar1.astro";

import BaseLayout from '../layouts/BaseLayout.astro';
---
<IndexLayout>
  <div slot="maindiv">
    <h1 id={headingDepth1.slug}>{headingDepth1.text}</h1>
  <h1 id={headingDepth1.slug}>{headingDepth1.slug}</h1>
  <h1>       
    还是GPT厉害      ?       
    <!-- {allPosts.map((heading) =>
        <Headingsofblog url={`#${heading.getHeadings()[0].slug}`} getHeadings={heading.getHeadings()[0].text}/>
    )} -->
  </h1>
 
  <aside class="hidden lg:block fixed z-20 inset-0 top-[3.8125rem] left-[max(0px,calc(50%-45rem))] right-auto w-[19rem] pb-10 pl-8 pr-6 overflow-y-auto">
    <Leftsidebar1 />
  </aside>
  <span slot="Rightbar">
    <Rightsideber />
  </span>
  <p>据说部分搜索可以用了</p>
  </div>
  

    
</IndexLayout>


