---
import Rightsideber from '../components/Rightsideber.astro';

const headings2 = [
  {
    depth: 1,
    text: "Astro 0.18 Release",
    slug: "astro-018-release"
  },
  {
    depth: 2,
    text: "Responsive partial hydration",
    slug: "responsive-partial-hydration"
  }
  // 更多标题对象
];
const allPosts = await Astro.glob('../pages/posts/*.md');
import Headingsofblog from "../components/Headingsofblog.astro";
// 查找 depth 为 1 的标题对象
const headingDepth1 = headings2.find(heading => heading.depth === 1);




allPosts.forEach((post, index) => {
  // console.log(`Post ${index + 1}:`);
  // 输出检测了不同层级的headings
  
  const headings = post.getHeadings();
  if (headings.length > 0) {
    const cont = 0
    headings.forEach((ih) =>{
    const hdepth = ih.depth;
    const hdepthofh = ih.text;
    if (hdepth < 3){
      // console.log(`headingdepth: ${hdepth} headingtext: ${hdepthofh}`);
    }
    
    })
    
  } else {
    console.log('No headings found.');
  }
});

allPosts.forEach((post, index) => {
  // console.log(`Post ${index + 1}:`);
  const headings = post.getHeadings();
  if (headings.length > 0) {
    headings.forEach((heading, headingIndex) => {
      // console.log(`Heading ${headingIndex + 1} slug: ${heading.slug}`);
    });
  } else {
    // console.log('No headings found.');
  }
});
allPosts.forEach((post, index) => {
  // console.log(`Post ${index + 1}:`);
  const headings = post.getHeadings();
  if (headings.length > 0) {
    const slugs = headings.map((heading) => heading.slug);
    // console.log('Slugs:', slugs);
  } else {
    // console.log('No headings found.');
  }
});
allPosts.forEach((post, index) => {
  // console.log(`Post ${index + 1}:`);
  const headings = post.getHeadings();
  if (headings.length > 0) {
    headings.map((heading, headingIndex) => {
      // console.log(`Heading ${headingIndex + 1} slug: ${heading.slug}`);
    });
  } else {
    // console.log('No headings found.');
  }
});

// 测试更换目录树
// 获取当前页面路径
// const currentPath = Astro.url.pathname;


import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <h1 id={headingDepth1.slug}>{headingDepth1.text}</h1>
  <h1 id={headingDepth1.slug}>{headingDepth1.slug}</h1>
  <h1>       
    还是GPT厉害             
    <!-- {allPosts.map((heading) =>
        <Headingsofblog url={`#${heading.getHeadings()[0].slug}`} getHeadings={heading.getHeadings()[0].text}/>
    )} -->
  </h1>
 
 
  <span slot="Rightbar">
    <Rightsideber />
  </span>
  <p>据说部分搜索可以用了</p>
  <div id="search" class="w-full"></div>
  <script >
    window.addEventListener('DOMContentLoaded', (event) => {
      //@ts-ignore-
        new PagefindUI({ element: "#search", showSubResults: true });
    });
  </script>



  <!-- <script is:inline>
    document.querySelector('#search')?.addEventListener('input', async (e) => {
      // only load the pagefind script once
      if (e.target.dataset.loaded !== 'true') {
        e.target.dataset.loaded = 'true'
        // load the pagefind script
        window.pagefind = await import("/SeanBlog/pagefind/pagefind.js");
      }
      console.log("yesaaa")
      // search the index using the input value
      const search = await window.pagefind.search(e.target.value)
      console.log(`search: ${search}`)
      // clear the old results
      document.querySelector('#results').innerHTML = ''
  
      // add the new results
      for (const result of search.results) {
        const data = await result.data()
        document.querySelector('#results').innerHTML += `
          <a href="${data.url}">
            <h3>${data.meta.title}</h3>
            <p>${data.excerpt}</p>
          </a>`
      }
    })
  </script> -->
        <!-- <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
        <script src="/SeanBlog/pagefind/pagefind-ui.js" is:inline>
        console.log({src})
        </script> -->
</BaseLayout>


