---
const {getHeadings,url,depth} =Astro.props

---

{(() => {
  const styles = {
    1: "font-bold text-slate-800",
    2: "pl-4 font-medium text-slate-700",
    3: "pl-8 text-slate-500",
    4: "pl-12 text-slate-400"
  };
  const prefixes = {
    1: "",
    2: "> ",
    3: "- ",
    4: "• "
  };
  const style = styles[depth] || styles[4];
  const prefix = prefixes[depth] || prefixes[4];
  
  return (
    <li id={getHeadings}>
      <a class={`rightbar-link block border-l pl-4 -ml-px ${depth === 1 ? 'mt-4' : ''} border-transparent
         hover:border-slate-400 dark:hover:border-slate-500 
         hover:text-blue-400 dark:text-slate-400 dark:hover:text-slate-300`} 
         href={url}>
          {/* 这里很简单的，就是根据depth来判断，然后返回不同的样式 */}
        <span class={style}>{prefix}{getHeadings}</span>
      </a>
    </li>
  );
})()}

<style>
  .rightbar-link {
color: text-slate-200; /* 默认颜色 */
}

.rightbar-link.active {
color: rgb(92, 138, 150); /* 激活状态颜色 */
background-color: rgb(236, 248, 255);
width: auto;
}
</style>