---

import ThemeIcon from './ThemeIcon.astro';
import Searchpage from './searchpage.astro';
import { Icon } from 'astro-icon/components';
const baseUrl = import.meta.env.BASE_URL;

---

<header class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full  text-sm py-0">
    <nav class="w-full mx-auto px-4 sm:items-center basis-full" aria-label="Global">
      <div class="flex items-center ">
        <a class="flex-none  text-xl font-semibold dark:text-white" href={`${baseUrl}`}>SeanBlog</a>
        <!-- 搜索块 -->
        <Searchpage />

        <div class="flex grow justify-end items-center order-6">
          <!-- github -->
          <a href="https://github.com/SeanFeng91/SeanBlog"><Icon name="mdi:github" class="size-6 ml-5 "></Icon></a>
          <!-- dark mode -->
          <div class="ml-5 justify-end">
              <ThemeIcon />
          </div>
          <!-- 放大镜 -->
          <div class="lg:hidden inline-flex">
            <button type="button" class="hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#hs-large-modal">
              <Icon name="mdi:search" class="size-7 ml-5 ">
            </button>
          </div>
        </div>
        <!-- 文字导航部分 -->
         <!-- 用dropdown代替方案 -->
        <!-- <div class="md:hidden order-last">
          <button type="button" class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10" 
          data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
            <svg class="hs-collapse-open:hidden inline-flex flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
            <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
          </button>
        </div> -->
        <div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full 
          grow md:block">
          <div class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5">
              <a class="font-bold text-gray-600  hover:text-blue-500 dark:text-neutral-400 dark:hover:text-neutral-500" 
              href={`${baseUrl}`} aria-current="page">首页</a>
              <a class="font-bold text-gray-600 hover:text-blue-500 dark:text-neutral-400 dark:hover:text-neutral-500" 
              href={`${baseUrl}about`}>关于我</a>
              <a class="font-bold text-gray-600 hover:text-blue-500 dark:text-neutral-400 dark:hover:text-neutral-500" 
              href={`${baseUrl}blog`}>博客</a>
    
              <a class="font-bold text-gray-600 hover:text-blue-500 dark:text-neutral-400 dark:hover:text-neutral-500" 
              href={`${baseUrl}imagegallery`}>图册</a>
              <a class="font-bold text-gray-600 hover:text-blue-500 dark:text-neutral-400 dark:hover:text-neutral-500" 
              href={`${baseUrl}posts/01PageProblemRecord`}>进展情况记录</a>
              <!-- <a class="font-bold text-gray-600 hover:text-blue-500 dark:text-neutral-400 dark:hover:text-neutral-500" href="/textindex/">测试页面</a> -->
              <div class="hs-dropdown [--strategy:static] sm:[--strategy:fixed] [--adaptive:none] ">
                <button id="hs-mega-menu-basic-dr" type="button" class="flex items-center w-full text-gray-600 hover:text-gray-400 font-medium dark:text-neutral-400 dark:hover:text-neutral-500 ">
                  功能测试
                  <svg class="ms-1 flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                </button>
      
                <div class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 sm:w-48 z-10 bg-white sm:shadow-md rounded-lg p-2 dark:bg-neutral-800 sm:dark:border dark:border-neutral-700 dark:divide-neutral-700 before:absolute top-full sm:border before:-top-5 before:start-0 before:w-full before:h-5 hidden">
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" 
                  href={`${baseUrl}textindex`}>
                    页面布局测试
                  </a>
                  
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" 
                  href={`${baseUrl}searchtest`}>
                    SearchTest 
                  </a>
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" 
                  href={`${baseUrl}mygpt`}>
                    Mygpt GPT测试
                  </a>
                </div>
              </div>
          </div>
        </div>

        <!-- dropdown-menu -->
          <div class="md:hidden hs-dropdown hs-dropdown-example relative inline-flex order-last">
            <button id="hs-dropdown-example" type="button" class="hs-dropdown-toggle ml-2 py-1 px-1 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" 
            aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
              <svg class="hs-dropdown-open:rotate-180 size-4 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="m6 9 6 6 6-6"></path>
              </svg>
            </button>
          
            <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 w-56 hidden z-10 mt-2 min-w-60 bg-white shadow-md rounded-lg p-2" 
            role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-example">
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 
              focus:outline-none focus:bg-gray-100" href={`${baseUrl}`}>
                首页
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 
              focus:outline-none focus:bg-gray-100" href={`${baseUrl}about`}>
                关于我
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 
              focus:outline-none focus:bg-gray-100" href={`${baseUrl}blog`}>
                博客
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 
              focus:outline-none focus:bg-gray-100" href={`${baseUrl}imagegallery`}>
                图册
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 
              focus:outline-none focus:bg-gray-100" href={`${baseUrl}posts/01PageProblemRecord`}>
                进展情况记录
              </a>
              <div class="hs-dropdown [--strategy:static] sm:[--strategy:fixed] [--adaptive:none] ">
                <button id="hs-mega-menu-basic-dr" type="button" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 
              focus:outline-none focus:bg-gray-100">
                  功能测试
                  <svg class="ms-1 flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                </button>
      
                <div class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 sm:w-48 z-10 bg-white sm:shadow-md rounded-lg p-2 dark:bg-neutral-800 sm:dark:border dark:border-neutral-700 dark:divide-neutral-700 before:absolute top-full sm:border before:-top-5 before:start-0 before:w-full before:h-5 hidden">
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 
              focus:outline-none focus:bg-gray-100" 
                  href={`${baseUrl}textindex`}>
                    页面布局测试
                  </a>
                  
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 
              focus:outline-none focus:bg-gray-100" 
                  href={`${baseUrl}searchtest`}>
                    SearchTest 
                  </a>
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 
              focus:outline-none focus:bg-gray-100" 
                  href={`${baseUrl}mygpt`}>
                    Mygpt GPT测试
                  </a>
                </div>
              </div>

            </div>
          </div>

      </div>
    </nav>
  </header>


<script src="../../node_modules/preline/dist/preline.js"></script>
<script>
  // This code should be added to <head>.
// It's used to prevent page load glitches.
const html = document.querySelector('html');
const isLightOrAuto = localStorage.getItem('hs_theme') === 'light' || (localStorage.getItem('hs_theme') === 'auto' && !window.matchMedia('(prefers-color-scheme: dark)').matches);
const isDarkOrAuto = localStorage.getItem('hs_theme') === 'dark' || (localStorage.getItem('hs_theme') === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches);

if (isLightOrAuto && html.classList.contains('dark')) html.classList.remove('dark');
else if (isDarkOrAuto && html.classList.contains('light')) html.classList.remove('light');
else if (isDarkOrAuto && !html.classList.contains('dark')) html.classList.add('dark');
else if (isLightOrAuto && !html.classList.contains('light')) html.classList.add('light');
</script>