---
const {getHeadings,url,depth} =Astro.props

---

{(depth === 1) ? (
  <li id={getHeadings}><a class="rightbar-link block border-l pl-4 -ml-px mt-4 border-transparent
     hover:border-slate-400 dark:hover:border-slate-500 
      hover:text-blue-400 dark:text-slate-400 dark:hover:text-slate-300" href={url}><span class="font-semibold text-slate-800">{getHeadings}</span></a></li>
) : (depth ===2)?(
  <li id={getHeadings}><a class="rightbar-link block border-l pl-4 -ml-px border-transparent
     hover:border-slate-400 dark:hover:border-slate-500 
      hover:text-blue-400 dark:text-slate-400 dark:hover:text-slate-300" href={url}><span class="pl-4  text-slate-600">- {getHeadings}</span></a></li>
) : (<li id={getHeadings}><a class="rightbar-link block border-l pl-4 -ml-px border-transparent
     hover:border-slate-400 dark:hover:border-slate-500 
      hover:text-blue-400 dark:text-slate-400 dark:hover:text-slate-300" href={url}><span class="pl-8  text-slate-400">· {getHeadings}</span></a></li>
)
}

<style>
  .rightbar-link {
color: text-slate-200; /* 默认颜色 */
}

.rightbar-link.active {
color: rgb(92, 138, 150); /* 激活状态颜色 */
background-color: rgb(236, 248, 255);
width: auto;
}
</style>