---

import ThemeIcon from './ThemeIcon.astro';
import Searchpage from './searchpage.astro';
import { Icon } from 'astro-icon/components';
const baseUrl = import.meta.env.BASE_URL;
// 将文件按目录分组
const allFiles2 = await Astro.glob('../pages/**/*.md');
import BlogPost from '../components/BlogPost.astro';
const posts2 = allFiles2.filter(file => file.url.includes('/posts/'));
const blogs2 = allFiles2.filter(file => file.url.includes('/blogs/'));
---
<header class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full  text-sm py-0">
    <nav class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between" aria-label="Global">
      <div class="flex items-center justify-between">
        <a class="flex-none md:inline-block text-xl font-semibold dark:text-white" href={`${baseUrl}`}>SeanBlog</a>
        <a href="https://github.com/SeanFeng91/SeanBlog"><Icon name="mdi:github" class="size-10 ml-5 md:inline-block"></Icon></a>
        <!-- dark mode -->
        <div class="ml-5">
            <ThemeIcon />
        </div>
       <!-- 搜索放大镜 -->
        <div class="sm:hidden sm:inline-block">
          <button type="button" class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
            <svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
            <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
          </button>
        </div>
      </div>
    <!-- sm模式左侧导航栏-->
        <div class="sm:hidden sm:inline-block">
            <button type="button" class="m-1 ms-0 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-white hover:bg-gray-300 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#hs-overlay-backdrop-with-scrolling">
              博客目录
            </button>
            
            <div id="hs-overlay-backdrop-with-scrolling" class="hs-overlay hs-overlay-open:translate-x-0 hidden -translate-x-full fixed top-0 start-0 transition-all duration-300 transform h-full max-w-xs w-full z-[30] bg-white border-e dark:bg-neutral-800 dark:border-neutral-700 [--body-scroll:true]' tabindex="-1">
              <div class="flex justify-between items-center py-3 px-4 border-b dark:border-neutral-700">
                <h3 class="font-bold text-gray-800 dark:text-white">
                  博客目录
                </h3>
                <button type="button" class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-spacing-1 text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700" data-hs-overlay="#hs-overlay-backdrop-with-scrolling">
                  <span class="sr-only">Close modal</span>
                  <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M18 6 6 18"></path>
                    <path d="m6 6 12 12"></path>
                  </svg>
                </button>
              </div>
              <div class="p-4">
                
              </div>
            </div>
        </div>



      <Searchpage />
      <!-- <div class="lg:pl-[2.5rem] hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block">
        <Searchpage />
      </div> -->
      <div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block">
        <div class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5">
            <a class="font-bold text-gray-600  hover:text-blue-500 dark:text-neutral-400 dark:hover:text-neutral-500" href={`${baseUrl}`} aria-current="page">首页</a>
            <a class="font-bold text-gray-600 hover:text-blue-500 dark:text-neutral-400 dark:hover:text-neutral-500" href={`${baseUrl}about`}>关于我</a>
            <a class="font-bold text-gray-600 hover:text-blue-500 dark:text-neutral-400 dark:hover:text-neutral-500" href={`${baseUrl}blog`}>博客</a>
  
            <a class="font-bold text-gray-600 hover:text-blue-500 dark:text-neutral-400 dark:hover:text-neutral-500" 
            href={`${baseUrl}imagegallery`}>图册</a>
            <a class="font-bold text-gray-600 hover:text-blue-500 dark:text-neutral-400 dark:hover:text-neutral-500" 
            href={`${baseUrl}posts/01PageProblemRecord`}>进展情况记录</a>
            <!-- <a class="font-bold text-gray-600 hover:text-blue-500 dark:text-neutral-400 dark:hover:text-neutral-500" href="/textindex/">测试页面</a> -->
            <div class="hs-dropdown [--strategy:static] sm:[--strategy:fixed] [--adaptive:none] ">
              <button id="hs-mega-menu-basic-dr" type="button" class="flex items-center w-full text-gray-600 hover:text-gray-400 font-medium dark:text-neutral-400 dark:hover:text-neutral-500 ">
                功能测试
                <svg class="ms-1 flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              </button>
    
              <div class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 sm:w-48 z-10 bg-white sm:shadow-md rounded-lg p-2 dark:bg-neutral-800 sm:dark:border dark:border-neutral-700 dark:divide-neutral-700 before:absolute top-full sm:border before:-top-5 before:start-0 before:w-full before:h-5 hidden">
                <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" 
                href={`${baseUrl}textindex`}>
                  页面布局测试
                </a>
                <div class="hs-dropdown relative [--strategy:static] sm:[--strategy:absolute] [--adaptive:none] ">
                  <button type="button" class="w-full flex justify-between items-center text-sm text-gray-800 rounded-lg py-2 px-3 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300">
                    侧边栏
                    <svg class="sm:-rotate-90 ms-2 flex-shrink-0 size-4 text-gray-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                  </button>
    
                  <div class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 sm:w-48 hidden z-10 sm:mt-2 bg-white sm:shadow-md rounded-lg p-2 dark:bg-neutral-800 sm:dark:border dark:border-neutral-700 dark:divide-neutral-700 before:absolute sm:border before:-end-5 before:top-0 before:h-full before:w-5 !mx-[10px] top-0 end-full">
                    <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" href="#">
                      侧边栏-Style-1
                    </a>
                    <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" href="#">
                      侧边栏-Style-2
                    </a>
                    <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" href="#">
                      侧边栏-Style-3
                    </a>
                  </div>
                </div>
    
                <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" 
                href={`${baseUrl}searchtest`}>
                  SearchTest 
                </a>
                <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" 
                href={`${baseUrl}mygpt`}>
                  Mygpt GPT测试
                </a>
              </div>
            </div>
        </div>
      </div>
    </nav>
  </header>


<script src="../../node_modules/preline/dist/preline.js"></script>
<script>
  // This code should be added to <head>.
// It's used to prevent page load glitches.
const html = document.querySelector('html');
const isLightOrAuto = localStorage.getItem('hs_theme') === 'light' || (localStorage.getItem('hs_theme') === 'auto' && !window.matchMedia('(prefers-color-scheme: dark)').matches);
const isDarkOrAuto = localStorage.getItem('hs_theme') === 'dark' || (localStorage.getItem('hs_theme') === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches);

if (isLightOrAuto && html.classList.contains('dark')) html.classList.remove('dark');
else if (isDarkOrAuto && html.classList.contains('light')) html.classList.remove('light');
else if (isDarkOrAuto && !html.classList.contains('dark')) html.classList.add('dark');
else if (isLightOrAuto && !html.classList.contains('light')) html.classList.add('light');
</script>
