---
const allPosts2 = await Astro.glob('../pages/posts/*.md');
import Headingsofblog from "../components/Headingsofblog.astro";
// 获取所有 Markdown 文件
const currentPath = Astro.url.pathname;
let currentPost2 = null;
allPosts2.forEach((post2, index) => {
  // console.log(`Post ${index + 1}:`);
  // console.log(currentPath);
  if (post2.url === currentPath) {
   currentPost2 = post2;
  //  console.log(index)
   
  }
  
})
const headings2 = currentPost2.getHeadings();
// console.log(headings);
---



<div class="pl-3 mt-3 text-sm 
max-h-screen lg:mt-0 lg:px-6">
  <h2 class="text-sm font-medium text-secondary-900">On this page</h2>
    <div class="mt-3 text-sm">
      <ul class="space-y-5 leading-normal">
        <!-- {allPosts.map((post, index) => {
            const headings = post.getHeadings();
            return headings.map((heading, headingIndex) => (
              <Headingsofblog 
                key={`${index}-${headingIndex}`} 
                url={`#${heading.slug}`} 
                getHeadings={heading.text} 
              />
            ));
          })} -->

          {headings2.map((heading, headingIndex) => (
              <Headingsofblog  
                url={`#${heading.slug}`} 
                getHeadings={heading.text} 
              />
          ))
          }
    </ul>
    </div>
</div>


