---
const allPosts = await Astro.glob('../pages/**/*.md');
import Headingsofblog from "../components/Headingsofblog.astro";
// 获取所有 Markdown 文件


---

<div class="pl-3 mt-3 text-sm 
max-h-screen lg:mt-0 lg:px-6">
  <h2 class="text-xl font-bold text-secondary-900">目录导航</h2>
  <h2 class="text-sm font-light font-serif text-gray-400">On This Page</h2>
    <div class="mt-3 text-sm">
      <ul id="rightsidebar" class="space-y-5 leading-normal">
          <!-- 实现了右侧导航栏读取当前md的目录问题 -->
          {allPosts.map((post, index) => {
            let currentPath = Astro.url.pathname;
              if (currentPath.endsWith('index.html')) {
                currentPath = currentPath.slice(0, -'index.html'.length);
              }
              if (currentPath.endsWith('/')) {
                currentPath = currentPath.slice(0, -1);
              }
            if (post.url === currentPath){
              const headings = post.getHeadings();
              
        
            return headings.map((heading) => (
                
                  <Headingsofblog 
                url={`#${heading.slug}`} 
                getHeadings={heading.text}
                depth={heading.depth} />
                  ))
                          
            };         
          })} 
        
          
    </ul>
    </div>
</div>



<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();

      const targetId = this.getAttribute('href').substring(1); // 去掉#
      const targetElement = document.getElementById(targetId);
      if (!targetElement) {
        console.error(`Element with ID ${targetId} not found`);
        return;
      }
      const header = document.getElementById('fixed-header');
      const headerHeight = 200;
      const elementPosition = targetElement.getBoundingClientRect().top;
      const offsetPosition = elementPosition + window.scrollY - headerHeight;

      console.log(`Scrolling to ${targetId}`);  // 调试信息
      console.log(`Target element:`, targetElement);  // 调试信息

      window.scrollTo({
        top: offsetPosition,
        behavior: 'smooth'
      });
    });
  });


</script>

<style>
  .highlight {
    color: red; /* 高亮颜色 */
  }
</style>